<table class="table table-striped table-bordered table-hover table-condensed"
		 ng-controller="formController">
	<tr>
	    <!-- Create dropdown headers to choose and sort in the table -->
	    <th>
	        <label>Select Year</label><br>
	        <select name="table.year" 
				ng-model="table.year">
				<option value ="">All</option>
				<option	ng-repeat="data in sales|unique:'year_report'"	
						value ="{{data.year_report}}">
						{{data.year_report}}
				</option>
			</select>
		</th>

	    <th>
	        <label>Select Month</label><br>
	        <select name="table.month" 
				ng-model="table.month">
				<option value ="">All</option>
				<option	ng-repeat="data in sales|unique:'month_report'"	
						value ="{{data.month_report}}">
						{{data.month_report}}
				</option>
			</select>
	    </th>

	   	<th>Sales</th>
	    <th>Commission</th>
	</tr>
	<!-- Fill the table with data from database and add filters-->
	<tr data-ng-repeat="data in sales
	 	| filter:{id: table.id} 
		| filter:{year_report: table.year}
		| filter:{month_report: table.month}">
		<td>{{data.year_report}}</td>
		<td>{{data.month_report}}</td>
		<td>{{data.total_sales}}</td>
		<td>{{data.commission}}</td>
	</tr>
</table>